<div *ngIf="getCount() > 0" class="border bg-white">
  <div
    class="d-flex p-4 justify-content-between align-items-center border-bottom"
  >
    <div>You have {{ getCount() }} items in your cart.</div>
    <button class="btn btn-outline-danger" (click)="clearCart()">
      Clear Cart
    </button>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr class="text-center border-bottom">
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="text-end px-4">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart" class="text-center border-bottom">
        <td style="width: 200px">
          <img
            [src]="product.imageUrl"
            class="my-1"
            style="height: 50px; object-fit: contain"
            alt="..."
          />
        </td>
        <td class="pt-4">{{ product.title }}</td>
        <td class="pt-4 d-flex justify-content-center align-items-center gap-2">
          <button
            class="btn btn-sm btn-primary"
            type="button"
            (click)="removeFromCart(product)"
          >
            -
          </button>
          <div class="text-body-secondary">
            {{ getProductCount(product) }}
          </div>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            (click)="addToCart(product)"
          >
            +
          </button>
        </td>
        <td class="pt-4">₹ {{ getProductPrice(product) }}</td>
        <td class="pt-4 text-end px-4">
          ₹ {{ getProductPrice(product) * getProductCount(product) }}
        </td>
      </tr>
    </tbody>
  </table>
  <p class="w-100 d-flex justify-content-end px-4">₹ {{ getTotal() }}</p>
</div>

<div *ngIf="getCount() > 0" class="d-flex justify-content-end">
  <button class="btn btn-success my-2 px-5" routerLink="/checkOut">
    Checkout
  </button>
</div>

<div *ngIf="getCount() === 0" class="d-flex flex-column">
  <div class="mx-auto w-50">
    <ng-lottie [options]="options"></ng-lottie>
  </div>

  <button class="btn btn-success my-4 px-5 mx-auto" routerLink="/">
    Continue Shopping
  </button>
</div>
