<header
  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  *ngIf="isLoggedIn() || isHome()"
>
  <a
    routerLink="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-4">Grocery Shopping</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Home</a
      >
    </li>
    <li *ngIf="!isAdmin()" class="nav-item">
      <a routerLink="/cart" routerLinkActive="active" class="nav-link"
        >Cart - ({{ getCartCount() }})</a
      >
    </li>
    <li *ngIf="!isAdmin()" class="nav-item">
      <a routerLink="/order" routerLinkActive="active" class="nav-link"
        >Orders</a
      >
    </li>
    <li *ngIf="isAdmin()" class="nav-item">
      <a routerLink="/admin/products" routerLinkActive="active" class="nav-link"
        >Manage Products</a
      >
    </li>
    <li *ngIf="isAdmin()" class="nav-item">
      <a routerLink="/admin/orders" routerLinkActive="active" class="nav-link"
        >Manage Orders</a
      >
    </li>
    <li *ngIf="isLoggedIn()" class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a class="nav-link" (click)="login()">Login</a>
    </li>
  </ul>
</header>
