<div class="container">
  <div class="row gap-4">
    <div class="col card py-3 h-50">
      <p class="h5 mx-3">Add Product</p>
      <div class="container mt-2">
        <form
          #productForm="ngForm"
          (ngSubmit)="productForm.form.valid && onSubmit(productForm)"
        >
          <div class="form-group mb-3">
            <label class="mb-1">Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              [(ngModel)]="product.title"
              #title="ngModel"
              [ngClass]="{
                'is-invalid': productForm.submitted && title.invalid
              }"
              required
            />
            <div
              class="invalid-feedback"
              *ngIf="productForm.submitted && title.invalid"
            >
              <p *ngIf="title.invalid">Name is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="mb-1">Price</label>
            <div class="input-group rounded-5">
              <span class="input-group-text">₹</span>
              <input
                type="number"
                class="form-control"
                name="price"
                [(ngModel)]="product.price"
                #price="ngModel"
                [ngClass]="{
                  'is-invalid': productForm.submitted && price.invalid
                }"
                price
                required
                min="1"
              />
              <div
                *ngIf="productForm.submitted && price.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="price.invalid">Valid Price is required</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="mb-1">Category</label>
            <select
              class="form-control"
              name="category"
              [(ngModel)]="product.category"
              #category="ngModel"
              [ngClass]="{
                'is-invalid': productForm.submitted && category.invalid
              }"
              category
              required
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
            <div
              *ngIf="productForm.submitted && category.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="category.invalid">Category is required</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label class="mb-1">Image Url</label>
            <input
              type="text"
              class="form-control"
              name="imageUrl"
              [(ngModel)]="product.imageUrl"
              #imageUrl="ngModel"
              [ngClass]="{
                'is-invalid': productForm.submitted && imageUrl.invalid
              }"
              pattern="(.*?)\.(jpg|png|jpeg)$"
              imageUrl
              required
            />
            <div
              *ngIf="productForm.submitted && imageUrl.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="imageUrl.invalid">Valid Image Url is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Add Product</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col card py-3">
      <div class="h-75">
        <div
          *ngIf="!product.imageUrl || !isValidImageUrl()"
          class="mx-auto w-50"
        >
          <ng-lottie [options]="options"></ng-lottie>
        </div>
        <img
          *ngIf="product.imageUrl && isValidImageUrl()"
          [src]="product.imageUrl"
          class="card-img-top mx-auto"
          alt="..."
          style="object-fit: contain; height: 250px"
        />
      </div>

      <!-- https://seed2plant.in/cdn/shop/products/saladcucumberseeds.jpg -->

      <div class="card-body">
        <h5 class="card-title">Title: {{ product.title }}</h5>
        <h6 class="card-title">Category: {{ product.category }}</h6>
        <p class="card-text">Price: ₹ {{ product.price }}</p>
      </div>
    </div>
  </div>
</div>
